 body {
 	background-color: #f2f6fa;
 }


 .header { 
 	border-bottom: 1px solid #eee;
 }

.banner h1 {
    font-size: 70px;
    font-weight: 100;
    padding-top: 75px;
}

.banner h5 {
    font-weight: 300;
    font-size: 22px;
    padding-top: 23px;
}

.col-md-6.logo img {
    max-width: 200px;
    padding: 5px 0px;
}

.banner {
    color: #fff;
    background: #01D0A2;
    min-height: 450px;
    text-align: center;
}

.row.attention {
    min-height: 40px;
    background-color: #FEBB11;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
}

.attention a {
    text-decoration: underline;
    color: white;
}


.col-md-8.col-md-offset-2.item {
    background-color: white;
    margin-top: -90px;
    border: .5px solid #eee;
}

.col-md-6.item-img img {
    max-height: 300px;
    text-align: center;
    padding: 35px 0px 10px 47px;
}

.disc h3 {
    color: #6F6F6F;
    padding: 30px 0px 15px;
}

.disc {
    color: #6E6E6E !important;
}

p {
    font-size: 19px;
    line-height: 29px;
    color: rgba(110, 110, 110, 0.63);
}
