html{
min-height:100%;
}
body{
min-height:100%;
height:100%;
font-family: 'open_sansregular';
}
.left-sect {
    max-width: 800px;
    float: right;
}
.right-sect {
    width: 330px;
    float: left;
}

.container{   position: relative;}
p,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
}
a:hover, a {
    color: #337ab7;
    text-decoration: none !important;
}
.right-bar-fixed {

    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar{
	margin-bottom:0px !important;
}
.navbar-inverse {
    background-color: #FFF;
    border: 1px solid transparent;
}
.box-three {
    width: 100%;
    float: left;
}
.news-box {
    max-width: 230px;
    display: block;
    float: left;
    width: 30%;
}
.news-box:nth-child(2n) {
    margin: 0px 5%;
}
.media-small-img {
    /* margin-left: 60px; */
    float: right;
   /* padding-right: 0;*/
}
/*header >.container {
    width: auto;
    margin: 0;
}*/
/*.serch-bar {
    position: absolute;
    right: 0;
	margin-top: 9px;
}*/
/*.serch-bar {
    position: relative;
    right: 0;
    margin-top: 9px;
    width: 100%;
    left: 15px;
    top: 0;
    max-width: 450px;
    float: none;
}*/
.serch-bar {
    position: relative;
    margin-right: 44px;
    margin-top: -45px;
    width: 93%;
    left: 15px;
    top: 0;
    /* max-width: 450px; */
    float: right;
}

.padding-top-30{
	padding-top:30px;
}
header {
    /*padding-top: 10px;*/
    /*margin-bottom: 10px;*/
    border-bottom: 1px solid #dedede;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    position: fixed;

}
.right-bar-fixed {
      height: 100%;
    position: absolute;
    right: 0;
    background-color: #e5e5e5;

}
.news-body{
    padding-right: 0px;
	float:left
}
.padding-zero {
    padding: 0;
}
/**/




.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
/**/
.margin-top-10{
	margin-top:10px
}
.ad-space {
    position: relative;

    right: 0;
    height: 100px;
    background: #e5e5e5;
    color: white;
    float: left;

    min-height: 200px;
	left: -20px;
  width: 102%;
  margin-left: -31%;
}
.right-bar-fixed {
    height: 100%;
    position: absolute;
    background-color: #fafafa;
}

@media (min-width:1280px){
.container{
	/*width:1200px;*/
	/*padding: 0;*/
}
.right-bar-fixed {
    height: 100%;
    position: absolute;
    left: 800px;

}
.mob-hide {
       width: 55px;
    float: left;
    margin-right: 10px;
    padding: 0;

}
.news-box:nth-child(2n) {
    margin: 0px 15px !important;
}
.news-body {
    padding-right: 0px;
    max-width: 720px;
   /* float: right;*/
}
.news-body {
    padding: 0px;
	}
.box-three {
        width: 100%;
    max-width: 720px;
    float:left
}
.media-body-sect {
    padding-top: 15px;
    display: block;
    float: left;
    padding-bottom: 15px;
    width: 100%;
    min-width: 800px;
}
.news-box {
    width: 230px;
    display: block;
    float: left;
}
.right-bar-fixed {
	    padding-top: 30px;
    padding-bottom: 30px;
}
}
@media (max-width:1279) and (min-width:1200px){
.ad-space {
    position: relative;
    right: 0;
    height: 100px;
    background: #00B940;
    color: white;
    float: left;
    min-height: 200px;
    left: -24px;
    width: 108%;
    margin-left: -31%;
}
}
.list-wrapper,
.items {
   display: inline-block;
}

.list-wrapper {
    position: relative;
    background-color: blue;
    height: 1em;
}
ul.vote {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd";
    color: #686868;
    float: right;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
p.content-text {
    min-height: 80px;
}
.news-body {
    padding: 0px;
}
/*.left_bar {
    width: 63% ;
    float: left;
    position: relative;
    left: 0;
}*/
 .padd-left-14 {
    padding-left: 10%;
    /* padding-right: 40px; */
    margin: 0;
}
.ad-space img {
    float: right;
}


.share-nav {
    float: left;
}
.head-width {
    max-width: 1500px;
    margin: 0 auto;
}
span.voted {
    float: left;
    font-size: 11px;
    color: #686868;
	    text-transform: uppercase;
		    padding-top: 7px;
			padding-right:5px
}
.padd-left-zro{
	padding-left:0px;
}
.padd-right-zro{
	padding-right:0px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #323232;
}
i.fa.fa-ellipsis-v {
    color: #21ab11;
    padding-left: 15px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #323232;
    background-color: transparent;
    border-bottom: 1px solid #2CAF1D;
}
.navbar {
    position: relative;
    min-height: 1px;
}
.navbar-nav > li > a {
    font-family: 'open_sansregular';
    font-size: 16px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #323232;
    background-color: transparent;
}
.news-body-wrap {
    /* overflow: hidden; */
    position: relative;
    top: 0;
    min-height: 100%;
    height: auto;
    /* z-index: 9999; */
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
.dropdown-toggle img {
    padding-left: 3px;
    margin-top: -2px;
}
.search-bx input[type=search] {
	background:#fff url(../images/search-ico.png) no-repeat 9px 9px;
    border: solid 1px #dedede;
    padding: 7px 18px;
    width: 20px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
    transition: width 1s;
    -webkit-transition: width 1s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
	box-sizing: content-box;
	position: absolute;
    width: 0px !important;
    right: 0 !important;

    top: 0 !important;
}
.search-bx input[type=search]:focus {
	width: 100% !important;
    padding-left: 28px;
	background-color: #fff;
	border-color: #dedede;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
/*.search-top{
	float:right;
     background-color: #fff;
}
*/
.search-bx {
   float: right;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
	    margin-left: 32px;
}
.search-top input:-moz-placeholder {
	color: transparent;
}
.search-top input::-webkit-input-placeholder {
	color: transparent;
}
.round a{
	width: 80px;
    height: 35px;
    font-size: 13px;
    border-radius: 25px;
    line-height: 34px;
    float: left;
    padding-left: 10px;
    color: #323232;
    text-transform: uppercase;
}
.round a:hover {
    /*color: #fff;
    background-color: #ff6500;

	border: #ff6500;*/
	text-decoration: none;
}
.news-catg a{
	width:auto;
	height:22px;
	border:1px solid #dedede;
	border-radius:25px;
	line-height:20px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	display:block;
	font-size:10px;
	text-transform:uppercase
}
.news-catg a:hover{
	text-decoration:none;
	background-color: #21AB11;
    border-color: #21AB11;
}
.news-catg-body a{
	width:auto;
	height:22px;
	border:1px solid #e5e5e5;
	border-radius:25px;
	line-height:20px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	color:#a4a4a4;
	display:block;
	font-size:10px;
	text-transform:uppercase;
	margin-left:5px;
}
.news-catg-body a:hover{
	text-decoration:none;
	background-color: #21AB11;
    border-color: #21AB11;
	color:#fff
}
.marg-left{
	margin-left:15px;
	float:left
}

.login{
	/*background:url(../images/login-ico.png) no-repeat 10px 10px;*/
	   /* border: 1px solid #dedede;*/
}
.live-tv {
    /* background: url(../images/live-tv-ico.png) no-repeat 10px 10px; */
   /* background-color: #ff6500;
    color: #fff !important;*/
}
.round a:hover.login{
	/*background:url(../images/login-ico-hover.png) no-repeat 10px 10px;
	 background-color: #ff6500;*/
}
.login i.fa.fa-lock,.live-tv i.fa.fa-television {
    font-size: 15px;
    padding-right: 3px;
}
.round a:hover.live-tv{
	/*background:url(../images/live-tv-ico-hover.png) no-repeat 10px 10px;*/
	 background-color: #ff6500;
}
.wrapper-brknews{
background: url(../images/kalam.jpg) no-repeat   center center ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.more-dot{
	      background: url(../images/more-dot.png) no-repeat right 18px;
    padding-right: 12px !important;
}
.topic-img {
   margin-bottom: 25px;
   position: relative;
}

.topic-img img {
    width: 100%;
    border-radius: 4px;
}
span.topic-text {
   position: absolute;
   bottom: 8px;
   left: 5px;
   color: #fff;
   font-size: 15px;
   font-weight:bold;
   line-height: 22px;
   /*font-family: "noto_sans_malayalamregular";*/
}
span.voted i.fa.fa-sort-desc {
    vertical-align: middle;
    margin-top: -6px;
    /* float: left; */
    margin-left: 4px;
}
  .box-banner {
    position: relative;
    /* height: 100%; */
    overflow: hidden;
    background: #F6F6F6;
    /*padding-top: 74px;*/

}
ul.foot-list li a:hover {
    text-decoration: none;
    color: #323232;
}
.half-width-video.marg-rt-1 {
    margin-right: 1%;
}
.half-width-video {
    width: 49%;
    float: left;
}
.full-width-video {
    width: 100%;
	    margin-bottom: 8px;
}
.marg-rt-1p{
	margin-right:1%;
}
.padd-zro{
	padding:0px
}
.title-box{
	    background: #da4143;
    line-height: 30px;
    padding: 5px 20px;
    font-family: 'open_sansregular';
    font-size: 16px;
    border-radius: 4px;
}
.breaking-news h1{
    font-family: 'noto_sans_malayalambold';
    font-size: 36px;
    line-height: 52px;
    font-weight:700;
    margin-top: 40px;
    margin-bottom: 18px;
}
.breaking-news p{
     font-family: "noto_sans_malayalamregular";
    font-size: 15px;
    line-height: 22px;
    font-weight:400;
    margin-bottom: 25px;
}
.relat-news {
    width: 90%;
    padding: 15px;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    margin-top: 115px;
}
.breaking-news {
    max-width: 565px;
}
.relat-news ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-top: 20px;
}
.relat-news ul li a {
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
    font-family: "noto_sans_malayalamregular";
    font-weight: 400;
}
.live-updates-li {
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
    font-family: "noto_sans_malayalamregular";
    font-weight: 400;
}
.heading{
	font-family: 'open_sansregular';
    font-size: 16px;
    color: #323232;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom:10px;
    margin-top: 0px;
}
.news-body-wrap {
   /* padding-top: 25px;
    padding-bottom: 50px;*/
}
.padd-top-25 {
    padding-top: 25px;
	    padding-bottom: 25px;
}
.sidebar-bg {
    background-color: #fafafa;;
    height: 100%;
}
/*.prgram-shedule img {
    width: 100%;
}*/

.prgram-shedule {
   position: relative;
}
.prgram-shedule img {
   width: 93%;
   margin-left: 7%;
border-radius: 4px;
}
span.prgm-time {
    position: absolute;
   width: 58px;
   height: 58px;
   top: 42%;
   background-color: #eed000;
   border-radius: 50%;
   border: 3px solid #dcb80c;
   text-align: center;
   padding-top: 18px;
   color: #fff;
   font-size: 11px;
   text-transform: uppercase;
   z-index: 10;
}
span.time {
   text-align: center;
   font-size: 7px;
}
span.prgm-time.green {
   background-color: #11bd2d;
   border-color: #01a41b;
}
span.prgm-img {
   position: relative;
}

.content-img-block img {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}
.content-block{
	background: url(../images/textured-bg.png);
    width: 212px;
    height: 212px;
    position: relative;
    top: -20px;
    padding: 25px 30px 0px;
	border: 1px solid #e5e5e5;
    border-top: none;
	border-radius: 0px 0px 4px 4px;

}

span.follow a:hover {
    color: #fff;
    background-color: #21ab11;

}
.auth-name{
	    font-size: 10px;
    color: #a4a4a4;
    text-transform: uppercase;
    display: block;
}
.content-text a{
	 font-size: 16px;
    color: #323232;
    margin: 0;
    font-family: "noto_sans_malayalamregular";
	line-height:24px;
}
.content-text a:hover {
    text-decoration: none;
    color: #000;
}
span.follow a {
    font-size: 13px;
    color: #a4a4a4;
    background-color: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    border: 1px solid #e5e4e4;
    display: block;
    max-width: 118px;
    margin:10px auto;;
}
.media-body-sect {
    padding-top: 15px;
    display: block;
    float: left;
	padding-bottom: 15px;
	 width: 100%
}
.mediaTitle a {
    font-size: 24px;
    color: #323232;
    margin: 0;
    font-family: "noto_sans_malayalamregular";
	line-height:36px;
}
.mediaTitle a:hover{
	text-decoration:none;
	color:#000
}
.live{
	line-height: 18px;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #a4a4a4;
    display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
}
.exclusive{
    color: #da4143;
}
span.video-icon img {
    margin-top: 5px;
}
span.video-ico a {
    margin-left: 0px;
    background: url(../images/video-big-ico.png) no-repeat;
    width: 34px;
    height: 20px;
    display: block;
}
span.video-ico a:hover {
	background:url(../images/video-big-ico-hov.png) no-repeat;

}
span.video-icon {
    margin-left: 10px;
	background:url(../images/video-big-ico.png) no-repeat;

}
h2.mediaTitle {
   /* margin-bottom: 18px;*/
}
.today-date{
	line-height: 18px;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 5px;
    color: #a4a4a4;
    display: inline-block;

}
.news-post-time{
	font-size: 10px;
    text-transform: uppercase;
    padding-left: 25px;
    color: #a4a4a4;
    background: url(../images/time.png) no-repeat center left;
    line-height: 22px;
    float: left;
    margin-right: 50px;
}
.mediaContent {
          color: #999;
    font-size: 15px;
    line-height: 22px;
    font-family: "noto_sans_malayalamregular";
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
}
p.mediaContent.width-75 {
    width: 75%;
    float: left;
}
.media-small-thumb {
    float: right;
}
.span75{
	width:75%;
	float:left
}
.media-larg-img {
    margin-top: 20px;
}
.media-larg-img img {
    border-radius: 4px;
    margin-bottom: 20px;
	    width: 100%;
}
.sidebar-sub-head {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.sidebar-sub-head a{
	color: #999;
    font-size: 15px;
    line-height: 22px;
	font-family: "noto_sans_malayalamregular";

	padding-bottom:0px;
	margin-bottom:0px;
	font-weight:normal;
	display:block;
	    word-wrap: break-word;
}
h3.foot-hed {
    font-size: 16px;
    font-weight: normal;
    color: #323232;
    margin-bottom: 30px;
    text-transform: uppercase;
	font-family: 'open_sansregular';
}
.sidebar-sub-head a:hover{
	text-decoration:none;
	color:#323232
}
.sect-recomm {
    margin-bottom: 35px;
    float: left;
}
.marg-bot-zero {
    margin-bottom: 0;
}
.marg-bt-30{
	margin-bottom:25px;
}

.padd-bot-25 {
    padding-bottom: 25px;
}
.date-sect{
	color: #a4a4a4;
    font-size: 10px;
    font-weight: normal;
    display: block;
    width: 100%;
	margin-top: 5px;
}
.media-small-img img {
    border-radius: 4px;
	    float: right;
}
.menu-width{
	  min-width: 100px !important;
}
a.to_top{
	display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
   /* border: 1px solid #e5e5e5;*/
    background: #e7e7e7;
    color: #989898;
    text-align: center;
    line-height: 32px;
    font-size: 22px;
    cursor: pointer;
}

a.to_top_voted{
    background:#21ab11;
    color:#fff;
}

/*a.to_top:hover{
	background:#21ab11;
	color:#fff;
}*/

a.to_top:click{
    background:#21ab11;
    color:#fff;
}
.media-small-img {
   /* margin-left: 60px;*/
}
.story-num{
	font-size:13px;
	font-weight:bold;
	text-align:center;
	line-height:22px;
	width:38px
}

a.logo {
    padding-top: 15px;
    float: left;
}
span.share {
    float: left;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 1px;
    margin-left: 10px;
    width: 23px;
    height: 23px;
}
span.share:hover {
    border-color: #ffd000;
}
span.fav {
    float: left;
    margin-left: 10px;
}
.fav i.fa.fa-heart-o:hover {
    color: #ffd000;
}
span.video-ico {
    vertical-align: middle;
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.share i.fa.fa-share-alt {
    color: #fff;
    padding: 3px 0px;
    margin-left: -2px;
    font-size: 12px;
    text-align: center;
    display: block;
}
.fav i.fa.fa-heart-o {
    color: #fff;
    font-size: 22px;
    line-height: 22px;
}
/*a.logo, .logo-wrap {
	min-width:125px !important;
}*/
@media (min-width:1500px){
/* ---- header ---*/

.logo-wrap {
    width: 12%;
    float: left;
    position: relative;
}
.menu-wrap {
    width: 64%;
    padding: 0px 1%;
    float: left;
}
.login-wrap {
    width: 22%;
    float: right;
    position: relative;
	    margin-top: 10px;
}
.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li {
       min-width: 13.66%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: content-box;
}
.navbar-inverse .navbar-nav > li > a {
        color: #323232;
    padding-left: .5%;
    padding-right: .5%;
}


/* ------ /header */
}
@media (min-width:1300px) and (max-width:1499px){

/* ---- header ---*/

.logo-wrap {
    width: 12%;
    float: left;
    position: relative;
}
.menu-wrap {
    width: 62%;
    padding: 0px 1%;
    float: left;
}
.login-wrap {
    width: 26%;
    float: right;
    position: relative;
    margin-top: 10px;
}
.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li {
       min-width: 13.66%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: content-box;
}
.navbar-inverse .navbar-nav > li > a {
        color: #323232;
    padding-left: .5%;
    padding-right: .5%;
}


/* ------ /header */
}

@media (min-width:1100px) and (max-width:1299px){
.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li {
         min-width: 12.66%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1.6%;
    box-sizing: content-box;
}
.navbar-inverse .navbar-nav > li > a {
        color: #323232;
    padding-left: .5%;
    padding-right: .5%;
}




}
@media (min-width:768px) and (max-width:991px){
.ad-space img {
    float: right;
    min-width: 420px;
    max-width: 500px;
}
.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li {
    min-width: 0%;
    text-align: center;
    padding-left: 0;
    padding-right: 6%;
    box-sizing: content-box;
}
.navbar-inverse .navbar-nav > li > a {
    color: #323232;
    padding-left: 0;
    padding-right: 0;
	padding-bottom:8px;
	border-bottom:#fff solid 1px
}


/* ------ /header */
}
@media (min-width:992px) and (max-width:1099px){

.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li {
        min-width: 10.66%;
    text-align: center;
    padding-left: .5%;
    padding-right: 1.34%;
    box-sizing: content-box
}
.navbar-inverse .navbar-nav > li > a {
        color: #323232;
    padding-left: .5%;
    padding-right: .5%;
}


/* ------ /header */

}

@media (min-width:1065px) and (max-width:1164px){

p.content-text {
    min-height: 100px;
}


.content-block {
       background:  url(../images/textured-bg.png);
}

.navbar-nav > li {
    padding: 0px 0px 0px 3px !important;
}
}

@media (min-width:992px) and (max-width:1064px){

p.content-text {
    min-height: 96px;
}

.content-block {
       background:  url(../images/textured-bg.png);
}

.marg-left {
    margin-left: 10px;
}
  .round a {
    width: 75px;
    padding-left: 10px;

}

}
@media (min-width:768px){
.navbar-brand {
    display: none !important;
}
.sidebar-bg {
    height: 100%;
    position: absolute;
    right: 0;
}
.navbar-right {
    float: left !important;
    margin-right: -15px;
	    width: 100%;
}
}
@media (min-width:992px){
.navbar-nav > li > a {
   /* padding:15px 10px 10px;*/
	margin-bottom: -1px;
	border-bottom:1px solid transparent
}
.mob-hide {
    width: 38px;
    float: left;
    margin-right: 10px;
    padding: 0;
}
.content-block {
    width: 100%;
    height: 220px;
    position: relative;
    top: -20px;
    padding: 35px 5px 5px;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

}
@media (max-width:991px){
.marg-left {
    margin-left: 0;
    margin-right: 10px;
}
.pull-right {
    float: left !important;
}
.search-top {
    float: left;
}
.col-xs-offset-1 {
    margin-left: 0;
}

.margin-top-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-box {
    max-width: 230px;
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
}
.news-box:nth-child(2n) {
    margin: 0 auto;
}
}

@media (min-width:768px) and (max-width:991px){

.right-bar {
    width: 30%;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #fafafa;
    padding: 0 15px;
	    padding-top: 25px;
}
.search-bx input[type=search]{
	margin-right:10px !important;
}
.left_bar {
    width: 70%;
    float: left;
    position: relative;
    left: 0;
}

.content-img-block img {
    width: 100%;
}
.content-block{
    width: 100%;
	padding: 35px 30px 0px !important;
}
.media-small-thumb {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.span75 {
    width: 100%;
}

div#navbar {
    float: left;
	width:100%
}

input[type=search]{
	width:180px;
}
.media-small-img img {
    border-radius: 4px;
    float: left;

}
.media-small-img {
	   margin-top: 5px;
}
.mob-hide {
    width: 29px;
    float: left;
    margin-right: 10px;
    padding: 0;
}
a.to_top {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #e7e7e7;
    color: #989898;
    text-align: center;
    line-height: 27px;
    font-size: 22px;
}
.news-post-time{
	    margin-right: 5px;
}
}
@media (min-width:768px){
.navbar-brand {
    display: none !important;
}
.wrapper-brknews{
	min-height:600px;
	padding: 80px 0px 60px;
}
}

@media (max-width:767px){
.navbar-header {
    background: #e5e5e5;
    margin: 10px 0 0;
    border-radius: 4px;
}
.mob-hide {
    width: 6% !important;
    float: left !important;
    margin-right: 18px !important;
    padding: 0 !important;
}
/*.serch-bar {
    position: fixed !important;
    right: 0;
    margin-top: 18px;
    width: 40%;
    left: 44%;
    top: 0;
    float: right;
    z-index: 99999;
}*/
.news-box {
    max-width: 230px;
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
}
.news-box:nth-child(2n) {
    margin: 0 auto;
}
.margin-top-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-bar-fixed {
    height: 100%;
    position: relative;
}
.ad-space {
    position: relative;
    right: 0;
    height: 100px;
    background: #e5e5e5;
    color: white;
    float: left;
    min-height: 200px;
    left: 0;
    width: 100%;
    margin-left: 0;
}
.logo-wrap {
       width: 100%;
    float: left;
    position: relative;
    z-index: 99999;
}

.login-wrap {
    width: 100%;
    float: right;
    position: relative;
    margin-bottom: 5px;
    margin-top:5px;
}
header{
    position: relative !important;
}
.box-banner{
	    padding-top: 0 !important;
}
.right-bar {
    width: 100%;
    position: relative;
    right: 0;
    height: 100%;
    background-color: #fafafa;
    padding: 0 15px;
    float: left;
    margin-top: 15px;}
.left_bar {
    width:100%;
    float: left;
    position: relative;
    left: 0;
}
.news-post-time{
 margin-right:5px !important
}
.navbar-inverse .navbar-toggle {
    border-color: #323232;
}
.breaking-news {
    max-width: 565px;
    min-width: 300px;
    margin-top: 50px;
}
.relat-news {
    width: 95%;
    margin-top: 50px;
    margin-bottom: 10px;

}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #323232;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(51, 51, 51, 0);
}
div#navbar {
    background-color: #e5e5e5;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #323232;
    border-bottom: none;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #999;
}

.col-xs-offset-1 {
    margin-left: 0 !important;
}
.media-small-img {
        margin-left: 6%;
    float: left;
    margin-top: 2%;
}
h2.mediaTitle {
    /* margin-bottom: 18px; */
    float: left;
}
.mediaContent{
	float: left;
}
.content-block{
	padding: 35px 30px 15px;
	width: 100%;
}
.content-img-block img{
	width: 100%;
}
h3.foot-hed{
	    margin-bottom: 0px;
    margin-top: 20px;
}
.span75 {
    width: 100%;
}
.media-small-thumb {
        float: left;
    margin-bottom: 10px;
    width: 100%;
}
.mob-left {
    float: left;
    width: 75%;
}
}
@media (min-width:500px){

.news-body {
    padding: 0px !important;
    width: 90% !important;
    float: left !important;
}


}
@media (max-width:499px){

.box-banner{
	padding-top:100px;
}
.mob-hide {
       width: 6% !important;
    float: left !important;
    margin-right: 18px !important;
    padding: 0 !important;
}
.news-body {
    padding: 0px !important;
    width: 75% !important;
    float: left !important;
}

a.to_top {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 1px solid #e5e5e5; */
    background: #e7e7e7;
    color: #989898;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
}
.story-num{
	    text-align: center;
    width: 25px;
}
}


/*Menu*/
.menu-nav {
  /* margin-bottom: 26px; */
  }

ul#logo {
    list-style: none;
    padding: 13px 17px 0 0;
    float: left;
}

ul#section li {
    float: left;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}

#menu {
  /* border-bottom: solid 2px #DBDBDB; */
  }
  #menu ul li:first-child a {
    padding-left: 1px;
    }
  #menu ul li a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px !important;
    color: #43474E;
    font-weight: 600;
    padding: 15px 15px;
    }


#menu ul.icons {
  float: right;
  list-style: none; }
  #menu ul.icons li {
    float: left; }
    #menu ul.icons li a {
      color: #596681;
      margin-top: 6px;
      display: block; }

ul#section {
    width: auto;
    float: left;
}
/*
Menu end*/

#submenu_li a {
    padding-left: 15px !important;
    }
/*
Menu end*/

.login-bx {
/*   float: right;
*/    /*background-color: #fff;*/
    /*position: absolute;*/
/*    left: 0;
    width: 13;*/
        /*margin-left: 32px;*/
}

.Live_wrap {
    margin-top: 2px;
    position: relative;
    right: 0;
    left: 0;
    float: right;
}

ul.dropdown-menu li {
    width: 100%;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.logo-hldr {
  float: left; }

.breaking_news_rltd_news{
    display: none;
}