
.panel-fndthree { 
/*  overflow: hidden;  */
}

.panel-fndthree .panel-col-first { 
  float: left; 
  width: 50%; 
}
* html .panel-fndthree .panel-col-first {
  width: 49.9%;
}

.panel-fndthree .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-fndthree .panel-col-last { 
  float: left; 
  width: 50%; 
}
* html .panel-fndthree .panel-col-last {
  width: 49.9%;
}

.panel-fndthree .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-fndthree .panel-separator {
  margin: 0 0 1em 0;
}
