.sticky_div {
    border: 1px solid #CCCCCC;
    float: left;
    overflow: hidden;
    padding: 5px 10px;
    width: 100%;
}
.sticky_div .sticky_content legend{
	display:none;
}
.link_sticky a {
    float: left;
    margin: 10px;
}
