@charset "UTF-8";
.centre {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 120px; }

.logo-hldr {
  float: left; }

.nav-south.navbar-default {
  background-color: #FFF;
  min-height: 105px;
  padding-top: 11px;
  margin-bottom: 2px;
  border-bottom: none; }

.s-tl {
  font-weight: bold; }

.jumbotron {
  background-color: transparent !important;
  padding-top: 48px;
  padding-bottom: 100px; }

.menu-nav {
  margin-bottom: 26px; }

#menu {
  border-bottom: solid 2px #DBDBDB;
  padding-top: 6px; }
  #menu ul li:first-child a {
    padding-left: 0; }
  #menu ul li a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px !important;
    color: #43474E;
    font-weight: 600; }

/**
	*  Story Cards
	*  -------
	*  
	**/
ul.list li.ftrd {
  border-bottom: solid 3px #F1E8E8;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  ul.list li.ftrd h4 {
    font-size: 16px;
    padding-top: 4px; }

span.lbl-1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #FFF;
  padding: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  border-radius: 2px;
  background-color: #D11A10;
  letter-spacing: 0.4px; }

h2.s-tl {
  font-size: 23px;
  font-weight: bold;
  line-height: 28px;
  color: #444;
  margin-top: 11px; }

.div-lead .dates {
  font-size: 12px;
  margin-left: 12px;
  padding-bottom: 4px;
  display: inline-block;
  margin-left: 13px; }

#ads-foto {
  background-color: #eee;
  width: 260px;
  height: 90px; }

/*
 * Noto Sans Malayalam (Malayalam) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Kohinoor';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/KohinoorMalayalam-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Kohinoor';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/KohinoorMalayalam-Demi.otf") format("opentype"); }
@font-face {
  font-family: 'Kohinoor';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/KohinoorMalayalam-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'Kohinoor';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/KohinoorMalayalam-Bold.otf") format("opentype"); }
body, h1, h2, h3, h4, h5, p {
  font-family: "Kohinoor";
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig","lnum","ss01–100","swsh" n;
  -webkit-font-feature-settings: "kern", "liga", "dlig", "unic", "trad", "lnum", "calt", "swsh" 1, "swsh" 2, "aalt", "smcp" on, "hist", "ss01–20";
  -o-font-feature-settings: "liga", "dlig","lnum","ss01–100","swsh" n;
  font-feature-settings: "liga", "dlig","lnum","ss01–100","swsh" n; }

a {
  color: #47749B; }

h2.s-tl {
  font-size: 23px;
  font-weight: bold;
  line-height: 28px;
  color: #444; }

.rl {
  border-right: solid 1px #eee; }

a h4.s-tl {
  color: #444; }

ul#section {
  width: 100%;
  float: none; }
  ul#section li {
    float: left; }

span.dates {
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #999; }

ul.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  ul.list li {
    border-bottom: solid 1px rgba(239, 239, 239, 0.39);
    padding-bottom: 6px;
    margin-bottom: 8px;
    overflow: hidden; }
  ul.list li.ftrd {
    border-bottom: solid 2px #F1E8E8;
    padding-bottom: 10px;
    margin-bottom: 15px; }
  ul.list h4 {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600; }

li .bdy {
  font-size: 11px;
  font-size: 0.82em;
  padding-bottom: 4px;
  color: #666; }

.thumb {
  margin-right: 11px; }

.ad-left-block {
  margin-top: 16px; }

span.hight {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  line-height: 18px;
  margin-right: 10px;
  color: #B94343;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 1px; }

span.hight.sml {
  text-transform: capitalize;
  color: #70AAAF; }

footer p {
  color: #eee; }

.opentype-on {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1; }

#columns h4.s-tl {
  color: #267B96;
  font-weight: 600;
  font-size: 13px;
  margin-top: 0px; }

.bgc {
  background-color: #F9F8F8;
  border-top: solid 1px #EBE3E3;
  overflow: hidden;
  padding-bottom: 30px; }

.ads {
  padding: 10px; }

.ads-foto {
  width: 260px;
  height: 90px;
  float: left;
  padding-top: 8px; }

.ads-foto.left {
  padding-top: 22px; }

.bd {
  float: left;
  width: 68%; }
  .bd a {
    color: #666; }
  .bd h6 {
    margin-top: 3px; }

.div-lead {
  clear: both;
  overflow: hidden; }
  .div-lead h4 {
    font-size: 14px;
    padding: 13px; }

div#discussions {
  width: 100%;
  position: relative;
  color: #FFF; }
  div#discussions img {
    border-radius: 4px; }

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.012) 0%, rgba(0, 0, 0, 0.032) 50%, rgba(0, 0, 0, 0.72) 100%);
  height: 100%;
  padding: 2em;
  padding-top: 32px;
  text-shadow: 0px 1px 1px #000; }
  .content h3 {
    font-size: 20px;
    margin-right: 31px; }
  .content .body {
    bottom: 0;
    position: absolute;
    margin-bottom: 38px;
    margin-right: 10px;
    font-size: 12px; }
    .content .body p {
      font-weight: normal; }

.sub {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; }

.spons {
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #D6C5C5; }

.sub {
  background-color: rgba(226, 80, 80, 0.88);
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 6px;
  text-shadow: none; }

.img-bg {
  float: left;
  position: absolute; }

.navbar-brand {
  width: 100%; }

.bTitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #815319;
  padding-top: 6px;
  padding-bottom: 8px; }
  .bTitle i {
    margin-right: 10px;
    color: #E75D5D; }

#bulletin .bTitle:after, #Popular .bTitle:after, #gallery .bTitle:after {
  float: right;
  display: block;
  width: 149px !important;
  height: 1px;
  border-top: solid 1px #DDD;
  width: 10px;
  background-color: #F00;
  content: '';
  top: 7px;
  position: relative; }

span.left-arrow,
span.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

#gallery .bTitle {
  margin-top: 16px;
  margin-bottom: 12px; }
#gallery .bTitle:after {
  width: 65% !important; }

.col-md-7.pad {
  padding-left: 14px; }

.ads {
  padding: 0px;
  padding: 6px;
  background-color: #FFF;
  border-bottom: solid 2px #EEE; }

ul.list li:last-child {
  border-bottom: none; }

.pad ul.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 17px; }

.div-lead {
  clear: both;
  overflow: hidden;
  background-color: #FFF;
  padding-top: 18px;
  margin-bottom: 19px;
  box-shadow: 0px 0px 3px #ECECEC; }

h2.s-tl {
  padding-left: 34px;
  padding-top: 1px;
  padding-bottom: 13px;
  margin-right: 19px; }

.nav > li > a {
  padding: 4px 5px 6px 14px; }

.ftrd .bdy img {
  margin-bottom: 14px; }

.bgc ul.list li.ftrd {
  padding-bottom: 1px !important; }

ul.list li.ftrd h4 {
  font-family: "Kohinoor"; }

h2.s-tl {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: #444;
  margin-top: 11px;
  padding-left: 24px;
  padding-top: 1px;
  padding-bottom: 13px; }

.holder {
  position: relative; }

.label {
  position: absolute;
  top: -5px;
  left: 31px; }

.div-lead .dates {
  font-size: 12px;
  margin-left: 12px;
  padding-bottom: 4px;
  display: inline-block;
  margin-left: 13px;
  font-weight: normal; }

div#footer {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 3em;
  color: #333; }
  div#footer img {
    opacity: 0.3; }

footer p {
  color: #555;
  font-size: 12px;
  margin-top: 21px; }

ul#section {
  width: auto;
  float: left; }

#menu ul.icons {
  float: right;
  list-style: none; }
  #menu ul.icons li {
    float: left; }
    #menu ul.icons li a {
      color: #596681;
      margin-top: 6px;
      display: block; }

.no {
  position: absolute;
  background-color: #EC4C4C;
  padding: 5px 8px 3px 5px;
  margin-top: 31px;
  z-index: 3327;
  color: #FFF; }

div#columns {
  background-color: #FFF;
  box-shadow: 0px 0px 1px #DDD; }

.split1, .split2 {
  float: left; }

.split1 {
  width: 43%; }

.split2 {
  width: 57%; }

.split2 {
  border-left: solid 1px #DDE3E6;
  padding-left: 14px;
  padding-top: 7px;
  background-color: rgba(249, 248, 248, 0.46); }

ul.list.columns-list a {
  color: #444; }
ul.list.columns-list .author-pic {
  float: right;
  top: -23px;
  display: block;
  position: relative; }
ul.list.columns-list .author-pic {
  float: right; }
ul.list.columns-list .whole {
  position: relative; }
ul.list.columns-list span.author {
  margin-top: 37px;
  display: block; }
ul.list.columns-list li .bdy {
  font-size: 11px;
  font-size: 0.82em;
  padding-bottom: 4px;
  color: #666;
  position: relative;
  clear: both;
  overflow: hidden; }
ul.list.columns-list li {
  overflow: visible; }
ul.list.columns-list a {
  margin-top: 11px;
  display: block; }
ul.list.columns-list .txt {
  position: absolute; }

ul.list.columns-list span.author {
  margin-top: 27px;
  display: block;
  /* margin-left: 11px; */
  margin-bottom: -4px;
  /* border-bottom: solid 1px #EEE; */
  padding-bottom: 6px;
  width: 114px;
  font-weight: bold; }
ul.list.columns-list li {
  overflow: visible;
  padding-bottom: 40px;
  border-bottom: solid 3px #EEE; }

.split1 ul.list {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px; }
.split1 h4.bTitle {
  padding-left: 26px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0; }
.split1 a {
  margin-top: 7px;
  display: block;
  margin-bottom: 1px; }

nav#tiny {
  height: 35px;
  padding-top: 8px; }
  nav#tiny ul {
    list-style: none;
    padding-left: 0; }
    nav#tiny ul li {
      float: left;
      font-size: 13px;
      margin-right: 20px;
      font-family: "Source Sans Pro", sans-serif; }
      nav#tiny ul li a {
        color: #A56767; }

nav#tiny ul li a:before {
  /* display: block; */
  background-image: url("../assets/img/favicon.gif");
  width: 20px;
  float: left;
  /* background-color: #F00; */
  margin-left: 8px;
  content: '';
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 3px; }

.pad ul.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 17px;
  background-color: #FFF;
  box-shadow: 0px 0px 2px #DDD; }

.media .thumb {
  margin-right: 0;
  margin-top: 7px; }

footer .nav {
  font-family: "Source Sans Pro", sans-serif; }
  footer .nav a {
    color: #888; }

input.search {
  font-family: "Source Sans Pro", sans-serif;
  width: 140px;
  border: none;
  border-bottom: solid 1px #EEE;
  color: #B4B4B4;
  background-color: #F9F8F8;
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 13px; }
  input.search:focus {
    background-color: #FFF;
    color: #444;
    box-shadow: 0 0 0 inset;
    outline: -webkit-focus-ring-color auto 0px; }

span.hline {
  display: block;
  border-left: solid 1px #DDD;
  margin-left: 15px;
  height: 18px;
  margin-top: 7px;
  margin-right: 13px; }

.navbar-default {
  background-color: #F8F8F8;
  border-color: #F0F0F0; }

#columns h4.bTitle {
  text-align: center;
  margin-right: 44px; }

@media screen and (max-width: 990px) {
  .ads {
    background-color: #DDD;
    text-align: center; }

  .col-md-7.pad {
    clear: both; } }
@media screen and (max-width: 600px) {
  .img {
    width: 50%; }

  .bd {
    width: 50%; }

  .centre {
    /* text-align: center; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto; }

  img#logo {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 56%; }

  ul#section {
    width: 101%;
    float: none;
    background-color: #1E1F24;
    z-index: 899999;
    position: absolute;
    margin-left: -9px;
    margin-right: 9px;
    padding-top: 21px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-top: -7px; }
    ul#section li {
      float: none;
      clear: both;
      width: 100%;
      border-bottom: solid 1px #332E2E;
      padding-bottom: 5px; }
      ul#section li a {
        color: #fff; }

  .split1,
  .split2 {
    clear: both;
    float: none;
    width: 100%; }

  header.site-header {
    height: 85px; }

  .bgc {
    background-color: #FFF; } }
.type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #555;
  padding-left: 16px;
  padding-top: 15px;
  display: block; }

.div-lead h4 {
  font-size: 14px;
  padding: 13px;
  padding-top: 0;
  padding-left: 16px; }

div#nos {
  border: solid 1px #DDD;
  padding: 20px;
  padding-bottom: 4px;
  padding-top: 6px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #EEE;
  color: #999;
  border-radius: 3px; }

h1.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 0; }

.tinTitle {
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #999; }

#sections {
  list-style: none;
  padding-left: 0; }
  #sections a {
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif; }

.article p {
  line-height: 22px;
  font-size: 14px; }

.infoBox {
  margin-top: 0px;
  z-index: 99;
  background-color: #EEE;
  clear: right; }

.infoBox {
  border-top: 2px solid #ECCFCF;
  clear: left;
  float: left;
  font-size: 1.1em;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 350px;
  margin-left: -168px;
  margin-bottom: 20px; }

.profile {
  padding: 21px;
  border-bottom: solid 1px #DDD;
  background-color: #F5F5F5;
  padding-top: 12px;
  padding-bottom: 15px; }

.stories {
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 22px; }

h5.head {
  font-size: 12px;
  color: #999;
  font-family: 'Source sans Pro';
  margin-top: 0; }

h4.media-heading {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0; }

span.personality {
  font-size: 10px;
  padding: 0; }

div#author {
  padding-bottom: 14px; }
  div#author img {
    width: 22px;
    margin-right: 10px; }

span.author {
  font-size: 12px;
  border-right: solid 1px #EEE;
  padding-right: 11px; }

.img-body {
  margin-bottom: 14px; }

.whitr {
  background-color: #FFF;
  padding: 26px;
  /* border-radius: 2px; */
  margin-top: -26px; }

.en {
  font-family: "Source Sans Pro", sans-serif; }

div#slides {
  list-style: none;
  margin-top: 50px;
  background-color: #EBCACA;
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
  position: relative; }
  div#slides ul {
    list-style: none;
    padding: 0; }
  div#slides li {
    float: left;
    /* width: 50%; */
    margin-bottom: 10px;
    position: relative;
    height: 330px;
    width: 25%; }
  div#slides .img {
    position: absolute; }
  div#slides .txt {
    position: absolute; }
  div#slides .txt {
    position: absolute;
    z-index: 43;
    color: #FFF;
    padding: 45px; }
  div#slides img {
    border: none;
    float: left;
    margin-right: 20px; }
  div#slides h4 {
    font-size: 15px;
    margin-right: 20px; }

.topic-holder img {
  width: 100%;
  height: 52px; }
.topic-holder h3 {
  color: #F8E7E7;
  font-weight: bold;
  background-color: #C97F7F;
  font-size: 18px;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  margin-bottom: 0;
  margin-top: 8px; }

ul.share.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 21px; }

.share li {
  float: left; }

div#share {
  padding-bottom: 30px;
  display: block;
  padding-top: 11px; }

#author span.dates {
  font-size: 13px;
  margin-left: 14px; }

span.en.caption {
  font-size: 11px;
  padding-top: 1px;
  margin-top: 10px;
  display: block;
  color: #999; }

div#topic {
  margin-top: 24px; }

#tags {
  margin-top: 24px; }

ul.tags {
  list-style: none;
  padding-left: 0; }
  ul.tags li {
    font-size: 14px; }
    ul.tags li a {
      font-size: 13px;
      font-family: "Source Sans Pro", sans-serif; }
    ul.tags li a:before {
      content: '#';
      display: block;
      float: left;
      margin-right: 1px; }

div#slides {
  list-style: none;
  margin-top: 50px;
  background-color: #B9C1C5;
  overflow: hidden;
  padding: 20px;
  /* border-radius: 3px; */
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px; }

div#slides .img {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.012) 0%, rgba(0, 0, 0, 0.032) 50%, rgba(214, 20, 20, 0.72) 100%);
  width: 290px;
  z-index: 30;
  background-color: #000;
  border-radius: 4px; }

div#slides img {
  border: none;
  float: left;
  margin-right: 20px;
  opacity: 0.5; }

div#slides .txt {
  position: absolute;
  z-index: 90;
  color: #FFF;
  padding: 45px;
  bottom: 14px; }

div#slides h4 {
  font-size: 19px;
  margin-right: 20px; }

.band {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 18%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 43px;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #BE3434;
  color: #FFF;
  left: 41%; }

.blurb {
  margin-bottom: 21px;
  color: #A06666; }

.stories ul.list li {
  border-bottom: solid 1px rgba(211, 204, 204, 0.39); }
.stories ul.list li:last-child {
  border-bottom: none; }

#comments h3 {
  font-weight: bold;
  margin-bottom: 29px;
  margin-top: 30px;
  color: #DA4C4C; }

.footnote {
  font-size: 12px;
  color: #777;
  padding-top: 14px;
  /* padding-left: 14px; */
  /* padding-right: 14px; */
  border-top: solid 1px #DDD;
  margin-top: 21px;
  padding-top: 25px; }

.l-thumb {
  margin-right: 20px; }

div#next-prev {
  color: #51606D;
  border: solid 1px #EEE;
  overflow: hidden;
  padding-bottom: 28px;
  padding-left: 17px;
  position: relative;
  padding-right: 17px; }
  div#next-prev h4 {
    font-size: 13px; }
  div#next-prev p {
    font-size: 12px; }
  div#next-prev span {
    font-size: 12px;
    font-family: 'Source sans pro';
    margin-top: 8px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #429DB9; }

#next-prev .media {
  padding-top: 30px; }

a#right {
  right: -7px;
  z-index: 900; }

a#left {
  left: 0px;
  z-index: 900; }

#next-prev a {
  color: #47749B;
  margin-bottom: 12px;
  display: block; }

a#left, a#right {
  position: absolute;
  top: 39%;
  background-color: #F36A6A;
  font-size: 26px;
  padding-top: 10px;
  color: #FFF;
  padding-right: 3px;
  padding-bottom: 3px; }
