ul.list.mini-ls a {
  color: #222;
  font-size: 14px; }

#quicktabs-sections_tabs .col-md-7 .view-content {
  padding-left: 0;
  margin-left: 0; }

#node_article_full_group_topic {
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px; }

.field-group-format-toggler .field-group-format-title {
  color: rgba(90, 103, 106, 0.67);
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem; }

#node_article_full_group_tags ul.field-tags {
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 11px; }
  #node_article_full_group_tags ul.field-tags li a {
    font-size: 14px;
    font-size: 1rem; }

li.tb-megamenu-item.pull-right.mega2-align-right a {
  background-color: transparent !important; }

.entityBlk {
  background-color: #F48D8D;
  display: block;
  clear: both;
  float: none; }
  .entityBlk:after {
    content: "";
    display: table;
    clear: both; }
  .entityBlk img {
    width: 54px;
    float: left; }
  .entityBlk h4 {
    font-size: 12px;
    float: left;
    padding-left: 14px;
    margin-top: 13px;
    font-weight: bold; }
  .entityBlk a {
    color: #fff; }

.field-group-div {
  margin-bottom: 1.5rem; }

#node_article_full_group_tags {
  padding-top: 0; }

div#node_article_full_group_wikis h3 span {
  margin-bottom: 3px; }

.field-group-format-wrapper ul {
  margin-top: 10px;
  margin-top: 0;
  float: none;
  display: block;
  clear: both; }
.field-group-format-wrapper .field-topic a {
  color: #932626;
  font-weight: bold; }

.field-changed-date {
  font-size: 14px;
  color: #666;
  font-family: helvetica,arial,sans-serif;
  font-weight: 100;
  border-bottom: solid 1px #EEE;
  padding-bottom: 13px; }

#node_article_full_group_topic .field-group-format-toggler,
#node_article_full_group_tags .field-group-format-toggler {
  padding-bottom: 5px;
  padding-left: 0px;
  background-image: none;
  margin-bottom: 0;
  width: 100%; }
  #node_article_full_group_topic .field-group-format-toggler:after,
  #node_article_full_group_tags .field-group-format-toggler:after {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent; }

a.field-group-format-title:after {
  width: 1px;
  height: 1px;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent; }

.field-group-format-wrapper {
  width: 100%;
  float: none; }
  .field-group-format-wrapper ul {
    margin-top: 10px;
    margin-top: 0;
    float: none;
    display: block;
    clear: both; }

.img-h span.date-h {
  background: none repeat scroll 0 0 rgba(34, 34, 34, 0.48);
  bottom: -8px;
  color: #FFF;
  float: left;
  font-size: 10px;
  margin-bottom: 8px;
  opacity: 0.8;
  padding: 5px 10px 5px 15px;
  position: absolute;
  left: 0;
  padding-top: 9px; }

.view-nodequeue-3.view-id-nodequeue_3 {
  width: 100%;
  background-color: #333;
  border-radius: 4px; }
  .view-nodequeue-3.view-id-nodequeue_3 h3.bTitle.line.sl {
    position: absolute;
    left: 46%;
    z-index: 900;
    background-color: #EC4F4F;
    border-radius: 5px;
    top: -10%; }
  .view-nodequeue-3.view-id-nodequeue_3 h3.bTitle.line.sl,
  .view-nodequeue-3.view-id-nodequeue_3 h4.bTitle.line.sl {
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 24px;
    text-align: center;
    /* border: solid 3px #EEE; */
    width: auto;
    display: block;
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 113px; */ }

.panel-pane.pane-views.pane-nodequeue-3 {
  margin-top: 1em; }

#node_article_full_group_topic .field-topic,
#node_article_full_group_tags .field-topic {
  background-color: #F5F6F7;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin: 0;
  padding: 12px 11px 10px 14px;
  display: block;
  overflow: hidden;
  text-transform: capitalize; }

.view-mode-full .field-body {
  line-height: 29px;
  font-size: 17px; }

.view-section-tabs-view ul.list {
  margin-top: 13px;
  margin-bottom: 19px;
  margin-left: 0.75em; }
  .view-section-tabs-view ul.list li.media {
    margin-top: 3px;
    padding-top: 3px; }

.view.view-section-tabs-view .lead {
  margin-top: 14px; }
  .view.view-section-tabs-view .lead h4 {
    font-weight: bold;
    padding-left: 0px;
    padding-right: 27px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-bottom: 0; }
.view.view-section-tabs-view .bdyx {
  padding-left: 0px; }
  .view.view-section-tabs-view .bdyx p {
    font-size: 13px; }

h1.post-title {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 0;
  padding-right: 20px;
  line-height: 34px;
  border-bottom: solid 1px #EEE;
  padding-bottom: 19px;
  /* text-align: center; */
  padding-left: 9px;
  text-align: left; }

.blurb,
.region-content .field-footnote {
  padding-left: 11px;
  font-size: 1.2rem;
  text-align: left;
  color: #360606;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 6px; }

#node_article_full_group_body h3 {
  display: none; }

.page-node .whitr {
  padding-top: 0; }

.field-changed-date {
  font-size: 14px;
  color: #666; }

h4.bTitle.more-from-section {
  background: #EC4F4F;
  text-align: left;
  position: relative; }

h4.bTitle.more-from-section {
  color: #FFF;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: left;
  padding-left: 21px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px; }

h4.bTitle:after {
  top: initial !important;
  background-image: none;
  left: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: #EC4F4F transparent transparent transparent;
  display: block;
  content: '';
  bottom: -13px;
  float: left; }

h4 span.light {
  color: #8c9a9e !important; }

#block-views-top-stories-block-1,
.view-id-most_popular.view-display-id-block_3,
#top-stories-from-section {
  margin-bottom: 0;
  padding-bottom: 2em; }

h4.bTitle.more-from-section:after {
  background-image: none;
  content: ""; }

#popular-from-section {
  border: 1px solid #E0E0E0;
  border-top: none; }

#top-stories-from-section h4.s-tl a {
  font-size: 13px !important;
  display: block;
  margin-right: 22px; }
#top-stories-from-section li.n {
  padding-left: 10px;
  padding-top: 15px; }
  #top-stories-from-section li.n:first-child {
    padding-top: 20px !important; }

.view-top-stories .view-header h4.s-tl,
.view-id-most_popular.view-display-id-block_3 .view-header h4.s-tl {
  border-bottom: 1px solid #d1d7d8;
  padding: 3px;
  padding-top: 0px;
  text-align: center;
  font-weight: normal;
  text-align: left;
  padding-left: 18px;
  padding-bottom: 15px;
  margin-bottom: 0; }
  .view-top-stories .view-header h4.s-tl a,
  .view-id-most_popular.view-display-id-block_3 .view-header h4.s-tl a {
    color: #fff; }

#block-views-top-stories-block-1,
.view-id-most_popular.view-display-id-block_3,
#top-stories-from-section {
  padding-bottom: 0px;
  margin-bottom: 0; }

.view-id-most_popular.view-display-id-block_3 .view-content .col-md-15 h4.s-tl {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.view-most-popular > .view-content li.n {
  padding-left: 9px;
  padding-right: 9px; }
.view-most-popular > .view-content ul.list {
  background-color: #f5f6f7;
  padding-top: 14px;
  margin-bottom: 0;
  padding-bottom: 15px; }
  .view-most-popular > .view-content ul.list li {
    margin-bottom: 0; }

.view-most-popular > .view-header .view-content ul.list {
  background-color: #FFF;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0; }

#top-stories-from-section .view-top-stories h4.bTitle {
  background-color: #DFE3E4;
  text-align: left;
  padding-left: 21px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px; }
  #top-stories-from-section .view-top-stories h4.bTitle:after {
    content: '' !important; }

#block-views-top-stories-block-1,
#top-stories-from-section {
  border: solid 1px #d1d7d8; }

#top-stories-from-section .view-header .view-content {
  background-color: #fff !important; }
  #top-stories-from-section .view-header .view-content ul.list {
    background-color: #fff;
    margin: 0; }
    #top-stories-from-section .view-header .view-content ul.list li {
      margin: 0;
      padding: 0; }
#top-stories-from-section .view-content ul.list {
  background-color: #eee; }

#social ul.icons li .search {
  border-bottom: none;
  background-color: #666060; }

.heading {
  background-color: #EC4F4F;
  width: auto;
  padding-bottom: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

#our_progs .view-header .heading h3.bTitle.line:after {
  background-image: none;
  left: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 15px 0 0;
  border-color: #EC4F4F transparent transparent transparent;
  display: block;
  content: '';
  bottom: -31px;
  float: left; }

#our_progs .pad-1 p, #our_shows .pad-1 p {
  color: #333;
  font-size: 14px;
  padding-top: 10px; }

h3.field-label {
  font-size: 11px;
  text-transform: uppercase;
  background-color: #CBE6E7;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 6px; }

.field-location {
  padding: 10px;
  font-size: 12px;
  background-color: #F5F6F7; }

div#footer {
  background-color: #F7F8F9; }

.site-footer #footer #block-panels-mini-footer {
  border: none; }

.search-box input.pull-left.search {
  border-radius: 33em;
  padding: .5em 1.2em; }
.search-box .search-box a.pull-left {
  padding-top: 5px;
  display: block;
  padding-left: 10px; }

.view-id-lead_news_front.view-display-id-block_5 .sub_h {
  position: absolute;
  top: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  color: #FFF; }

.div-lead h2.s-tl {
  line-height: 30px !important;
  margin-bottom: 0px;
  padding-bottom: 4px; }

.pane-lead-news-front .view-lead-news-front .s-tl {
  line-height: 16px; }

em.placeholder {
  font-style: normal; }

ul.list h4 .field-title h2 a,
.node-article.view-mode-related_contents_article .field-title h2 a {
  font-size: 13px; }

.view-id-lead_news_front.view-display-id-block_1 .view-content {
  border: 1px solid #EC4F4F;
  padding-left: 15px;
  padding-right: 15px; }
  .view-id-lead_news_front.view-display-id-block_1 .view-content:after {
    background-image: none;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #EC4F4F transparent transparent transparent;
    display: block;
    content: '';
    bottom: -13px;
    float: left; }

.view-id-lead_news_front.view-display-id-block_1 .view-header {
  color: #FFF;
  background-color: #EC4F4F;
  padding: 7px;
  font-weight: bold;
  padding-left: 16px; }

.view-id-lead_news_front.view-display-id-block_1 .view-header .placeholder {
  /* border-left: 1px solid rgba(255, 255, 255, 0.35); */
  padding-left: 5px;
  margin-left: 10px;
  font-size: 11px;
  color: #F2C9C9; }

.view-lead-news-front.view-id-lead_news_front.view-display-id-block_1 .views-field-title .field-content a {
  line-height: 19px; }

#breaking {
  background-color: #F7F6EC;
  border: none; }

#block-panels-mini-inner-page-bottom .panel-pane {
  overflow: visible; }

.view-nodequeue-3.view-id-nodequeue_3 {
  background-color: #d4d9da;
  border-radius: 2px; }

.view-id-nodequeue_3.view-display-id-block .view-content ul {
  background-color: transparent; }

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%; }

.jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  padding-top: 0px;
  margin: 10px auto auto 0px; }

div#node_article_full_group_stories:after {
  content: "";
  display: table;
  clear: both; }
div#node_article_full_group_stories .field-group-format-toggler {
  padding-left: 0; }
  div#node_article_full_group_stories .field-group-format-toggler a {
    color: rgba(90, 103, 106, 0.67); }

.view-id-sections.view-display-id-block_3 {
  background-color: transparent; }

.view-sections.view-id-sections.view-display-id-block_3 div#leader {
  background-color: #fff; }

.view-id-nodequeue_3.view-display-id-block {
  overflow: visible; }
  .view-id-nodequeue_3.view-display-id-block .view-content ul li {
    position: relative; }
    .view-id-nodequeue_3.view-display-id-block .view-content ul li a {
      color: #422B2B;
      font-size: 1.05rem;
      font-weight: normal;
      line-height: 1.35;
      font-family: "Noto Sans Malayalam", Arial, Sans; }
  .view-id-nodequeue_3.view-display-id-block h3.bTitle.line.sl {
    position: absolute !important;
    left: 45%;
    z-index: 900;
    background-color: #EC4F4F;
    border-radius: 5em;
    top: -40px;
    margin-left: 24px; }

.view-galleries .holder-x h4 {
  font-size: 1.563em; }

.view-galleries.view-display-id-block_4 .holder-x h4 {
  font-size: 1em; }
.view-galleries.view-display-id-block_4 .holder-x .title {
  bottom: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  text-align: left;
  padding-right: 17px;
  word-wrap: break-word;
  padding-left: 2%;
  padding-right: 4%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.03) 60%, #222 100%);
  background-color: transparent; }

.hd_l h2 a:after {
  width: 50%;
  height: 1px;
  border-bottom: solid 1px #DDD;
  display: inline-block;
  float: left; }

.view-id-sections.view-display-id-block_1 h3.titl a,
.view-id-sections.view-display-id-block_2 h3.titl a,
.view-id-sections.view-display-id-block_3 h3.titl a {
  color: #444; }

.jcarousel-skin-default .jcarousel-container-horizontal a.jcarousel-prev.jcarousel-prev-horizontal {
  margin-left: -14px; }

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 1090px; }

a.jcarousel-prev.jcarousel-prev-horizontal {
  background-color: #657478;
  color: white;
  display: block;
  margin-left: 0;
  z-index: 800;
  top: 35%; }

a.jcarousel-prev.jcarousel-prev-horizontal:before {
  content: '\e804';
  font-family: 'fontello';
  display: block; }

a.jcarousel-next.jcarousel-next-horizontal:before {
  content: '\e805';
  font-family: 'fontello';
  display: block; }

.jcarousel-skin-default .jcarousel-container-horizontal a.jcarousel-next.jcarousel-next-horizontal {
  margin-right: -51px;
  z-index: 900;
  background-color: #657478;
  color: white; }

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 35%; }

.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 32px;
  height: auto;
  background-image: none;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 2px; }

/** -- to be removed -- **/
.view-ubaidka .view-sections.view-display-id-block_3 img {
  width: 100%; }

.ads-place {
  text-align: center; }
