
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.col-md-12.col-lg-6.c1 {
    background: #0066FF;
    color: white;
    padding: 5%;
}

ul.links li {
    display: inline;
    padding-right: 10px;
    margin: 0px;
}

ul.links {
    padding: 0px;
    font-weight: 500;
}


.col-12.story-title h2 {
    font-size: 5em;
    padding: 16px 0px;
}

.col-12.story span {
    font-weight: 500;
    font-size: 1.2em;
}

ul#profile {}

li {
    display: inline;
}

h5.name {
    color: #FF6666;
    /* text-decoration: blink; */
}

span.org {
    font-style: oblique;
    color: #606060;
}

p.profile-content {
    padding-top: 10px;
    padding-bottom: 20px;
}

.col-md-12.col-lg-6.c2 {
    padding: 5% 5% 5% 0%;
}